.nav {
  padding: 0.5rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  left: 0;
  right: 0;
  z-index: 10;
  color: var(--primary-content-color);
}

.interact {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.heading {
  font-weight: 800;
}