.nav {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  left: 0;
  right: 0;
  z-index: 10;
  color: var(--primary-content-color);
}

.interact {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.nav a {
  font-weight: 800;
  text-decoration: none;
  color: var(--primary-content-color);
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .nav {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding: 0.5rem 8rem;
  }
}
