:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: rgb(78, 40, 255);
  --primary-content-color: rgb(240, 237, 255);
  --secondary-color: rgb(255, 57, 90);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: rgb(247, 247, 247);
}

main {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}


@media (min-width: 640px){
  main{
    padding: 4rem 2rem;
  }
}

@media (min-width: 768px){
  main{
    padding: 4rem 4rem;
  }
}

@media (min-width: 1024px){
  main{
    padding: 4rem 8rem;
  }
}